---
// STYLE
import '../styles/global.css';

// FONTS
import '@fontsource/geist-sans';
import '@fontsource/geist-mono';

// COMPOSANTS
import Footer from '../components/site/Footer.astro';
import Navbar from '../components/site/Navbar.astro';
import { Toaster } from '../components/ui/Toaster';

// PROPS
interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "J.A. - Concepteur Développeur Web Front-End / Full-Stack", 
	description = "Portfolio de Jonathan Araldi, concepteur développeur web. Architectures modernes, performantes, code rigoureux et documentation exhaustive. React, TypeScript, Astro." 
} = Astro.props;
---

<!doctype html>
<html lang="fr" class="dark">
	<head>
		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content="Jonathan" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Architectures web modernes, robustes et centrées sur l'expérience utilisateur." />
		<meta name="twitter:card" content="summary_large_image" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<title>{title}</title>
	</head>

	<body>
		<div class="relative min-h-screen flex flex-col">
			<Navbar />
			<main class="flex-1">
				<slot />
			</main>
			<Footer />
		</div>
		<Toaster client:load />
	</body>
</html>
